@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle d-flex
    flex-column align-items-center bg-dark rounded-3 p-5 border border-success">
    <h1 class="text-center">Welcome to YouTube Clone</h1>
    <p2 class="text-center">Search a video from YouTube using <a href="https://developers.google.com/youtube/v3/docs" target="_blank">YouTube API v3</a> by clicking <a href="/youtube">here</a></p2>
</div>

