@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-3">
    <h1>@ViewData["Title"]</h1>
    <p2>This project was for learning purposes only. No real data are used in making this project</p2>
</div>
